/Plantilla.X/nbproject/private/
/Boleta.X/nbproject/private/
/Calculadora.X/nbproject/private/
/Calculadora.X/build/default/
/Calculadora.X/dist/default/
/LCD.X/nbproject/private/
/Timer.X/nbproject/private/
/Interrupciones.X/nbproject/private/
/Interrupciones.X/dist/default/
/Interrupciones.X/build/default/