/Plantilla.X/nbproject/private/
/Boleta.X/nbproject/private/
/Calculadora.X/nbproject/private/
/Calculadora.X/build/default/
/Calculadora.X/dist/default/
/LCD.X/nbproject/private/
/Timer.X/nbproject/private/
/Interrupciones.X/nbproject/private/
/Interrupciones.X/dist/default/
/Interrupciones.X/build/default/
/Timer.X/build/default/
/Timer.X/dist/default/
/Reloj.X/nbproject/private/
/UART.X/nbproject/private/
*.out
*.o
/serial
/*/serial
/*/servidor
/*/cliente
/*/client
/SIGNAL.X/nbproject/private/
/SIGNAL.X/build/default/
/SIGNAL.X/dist/default/
/Proyecto.X/nbproject/private/
/WiFi.X/nbproject/private/
/WiFi.X/build/default/
/WiFi.X/dist/default/
/DAC.X/nbproject/private/
/DAC.X/build/default/
/DAC.X/dist/default/
/Seno.X/nbproject/private/